<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Viewer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <style>
        .center-div {
            top:10%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class=center-div">
        <div class="col-md-4; center-div" style="margin-top: 5%; width: 60%">
            <h1>Ticket Viewer</h1>
            {% block content %}
            {% endblock %}
        </div>

    </div>

</body>
</html>